<div class="modal fade rtl-data"  id="removeSelectedItem" tabindex="-1" role="dialog" aria-labelledby="removeSelectedItemLabel" aria-hidden="true">
    <div class="modal-dialog rename-dialog" role="document" >
        <div class="modal-content">
            <div class="modal-header" style="border: 0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="removeSelectedItemLabel">{{'delete' | translate}}</h5>

            </div>
            <div class="modal-body">
                <h6 class="rtl-data">{{'are_you_sure_drop_files' | translate}} </h6>
            </div>
            <div class="modal-footer rtl-data" style="border: 0">
                <button type="button" class="btn pointer abroid-btn-red" ng-click="remove()">{{'delete' | translate}}</button>
                <button type="button" class="btn pointer" data-dismiss="modal">{{'cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>