<div class="input-group">
    <span class="input-group-addon pointer" ng-click="removeDate()">
        <img ng-src="views/resource/images/ic_close_black_18dp.png" alt="">
    </span>
    <!--{{setDate}}-&#45;&#45;-->
    <input class="form-control date-picker-{{position}}"  id="{{position}}" value="{{setDateCurrent}}">

    <!--<input class="initial-value-type-gregorian-example" value="2017-1-1" />-->
</div>
<!--<div class="col-md-3">-->
    <!--<date-picker-directive position="'start'"></date-picker-directive>-->
<!--</div>-->
<!--<div class="col-md-3">-->
    <!--<date-picker-directive position="'end'"></date-picker-directive>-->
<!--</div>-->